- unless invoices.blank?
  %table
    %thead
      %tr
        %th Status
        %th Invoice Date
        %th Invoice #
        %th Client
        %th Total
        %th Due
    %tbody
    - for invoice in invoices
      %tr
        %td.status
          %span{ status_class(invoice.status) }=h invoice.status.humanize
        %td=h invoice.billing_date.strftime("%m.%d.%Y")
        %td= link_to h(invoice.number), invoice
        %td=h invoice.client.name
        %td= number_to_currency(invoice.total_amount)
        %td=# h invoice.amount_due