%table
  %thead
    %tr
      %th.status Status
      %th.invoice_date Invoice Date
      %th.invoice_number Invoice #
      %th.client Client
      %th.total Total
      %th.due Due
  %tbody
    - for invoice in invoices
      %tr{ :class => overdue?(invoice) }
        %td.status
          %span{ status_class(invoice.status) }=h invoice.status.humanize
        %td=h invoice.billing_date.strftime("%m.%d.%Y")
        %td= link_to h(invoice.number), invoice
        %td=h invoice.client.name
        %td=h cents_to_dollars(invoice.total_amount)
        %td.last=h cents_to_dollars(invoice.amount_due)