#totals
  %h3 Payments
  - for payment in @invoice.payments
    \- #{h number_to_currency(payment.amount)}
    %span (#{h payment.created_at.to_s(:regular)})
    
  #total Total Amount Due: #{h cents_to_dollars(@invoice.amount_due)}