#totals.payments
  %h4 Payments
  %ul
    - for payment in @invoice.payments
      %li
        =h number_to_currency(payment.amount)
        %span== (#{short_date(payment.created_at)})
  #total== Total Amount Due: #{h cents_to_dollars(@invoice.amount_due)}