#main_content
  %h2 Editing invoice
  - form_for(@invoice) do |f|
    = render :partial => 'form', :locals => { :f => f, :button_text => 'Update' }

#sidebar
  = link_to 'Cancel &amp; Go Back', :back, :id => 'cancel', :class => "button"