#main_content
  %h2 Invoices
  = render :partial => 'invoices', :locals => { :invoice => @invoices }
        
  = will_paginate
  
#sidebar
  = link_to 'Create A New Invoice', new_invoice_path, :id => 'new', :class => "button"
