#main_content.show_invoice
  %h2
    Invoice
    =h @invoice.number
    %span.due
      Payment Due
      =h @invoice.payment_due_date
    %span.sent
      Sent on
      =h @invoice.billing_date
  %p.note
    %strong Note:
    =h @invoice.note
  
#sidebar
  = link_to "Edit Invoice #{@invoice.number}", edit_invoice_path(@invoice), :id => "edit", :class => "button"
  = link_to 'Enter a Payment', new_invoice_payment_path(@invoice), :id => 'edit', :class => 'button'
  = link_to 'Go Back', invoices_path, :id => "back", :class => "button"

