body {
  background:#EEE;
  font:62.5%/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin:0;
}

input:focus,
input:active,
a:focus {
  border:none;
  outline:none;
}

/* Removes Outline From Input Buttons*/
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner { 
border: none; 
}

#main_content input.text {
  padding:0.4em;
}

#main_content input.text:focus,
#main_content textarea:focus {
  background:#FFF3C0;
  border:1px solid #FFDB81;
}

#wrapper {
  margin:0;
}

#wrapper #header {
  background:#004585 url("/images/header_bg.jpg") 0 -400px repeat-x;
  overflow:hidden;
  padding:0 2.8em;
}

#wrapper #header #logo {
  background:transparent url("/images/logo.png") 0 0 no-repeat;
  display:block;
  height:80px;
  margin:1em 0;
  width:284px;
}

#wrapper #header ul {
  list-style:none;
  margin:0;
  padding:0;
}

#wrapper #header ul li {
  float:left;
  margin:0 0 0 0.4em;
}

#wrapper #header ul li a {
  background:#4777AD;
  color:#FFF;
  display:block;
  font-size:1.4em;
  font-weight:bold;
  padding:0.5em 1em;
  text-decoration:none;
  text-shadow:1px 1px 1px #444;
}

#wrapper #header ul li a.active {
  background:#EEE url("/images/active_tab_bg.gif") 0 0 repeat-x;
  color:#333;
  font-weight:bold;
}

#wrapper #content {
  margin:0 1em;
  min-width:80em;
  overflow:hidden;
  padding:2em;
}

#wrapper #content #main_content {
  background:#FFF;
  -webkit-box-shadow: 1px 1px 5px #555;
  -moz-box-shadow: 1px 1px 5px #555;
  font-size:1.2em;
  float:left;
  overflow:hidden;
  padding:1em;
  width:74%;
}

#wrapper #content #main_content h2 {
  background:#3E659B;
  color:#FFF;
  margin:-1em -1em 1em;
  padding:1em 1em 0.6em;
  text-shadow:-1px -1px 1px #333;
}

#wrapper #content #main_content table {
  width:100%;
}

#wrapper #content #main_content table thead tr {
  background:#CCC;
  color:#222;
}

#wrapper #content #main_content table thead tr th {
  font-weight:bold;
  padding:0.4em;
}

table .striped {
  background:#EEE;
}

/* Clients
------------------------------------------------*/
#new_client {
  font-size:1.1em;
}

#new_client input.text {
  font-size:1em;
}

/* Invoices
------------------------------------------------*/

/* Buttons */
#invoice_submit,
#client_submit {
  background:transparent url("/images/save_button.png") 0 0 no-repeat;
  border:none;
  cursor:pointer;
  height:42px;
  text-indent:-9999px;
  width:150px;
}

#client_submit:hover,
#invoice_submit:hover { background-position:0 -42px; }

#client_submit:active,
#invoice_submit:active { background-position:0 -84px; }

#main_content fieldset label {
  display:block;
}

#main_content fieldset label.currency {
  float:left;
  margin:1.2em 0.4em 0;
}

#main_content fieldset legend {
  background:#3E69AB;
  border:1px solid #215895;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #333;
  -moz-box-shadow: 0 0 2px #333;
  color:#EED88F;
  font-size:1.4em;
  font-weight:bold;
  padding:0.1em 0.5em;
}

#main_content fieldset table .description {
  height:30px
}

#main_content fieldset table tbody .quantity,
#main_content fieldset table tbody .price {
  font-size:1.2em;
  padding:0.4em;
  width:50px;
}

#footer {
  padding:0 2.8em 1em;
}