body {
  background:#EEE;
  font:62.5%/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin:0;
}

input:focus,
input:active,
a:focus {
  border:none;
  outline:none;
}

/* Removes Outline From Input Buttons*/
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner { 
border: none; 
}

#main_content input.text {
  padding:0.4em;
}

#main_content input.text:focus,
#main_content textarea:focus {
  background:#FFF3C0;
  border:1px solid #FFDB81;
}

#wrapper {
  margin:0;
}

#wrapper #header {
  background:#004585 url("/images/header_bg.jpg") 0 -400px repeat-x;
  overflow:hidden;
  padding:0 2.8em;
}

#wrapper #header #logo {
  background:transparent url("/images/logo.png") 0 0 no-repeat;
  display:block;
  float:left;
  height:80px;
  margin:1em 0;
  width:284px;
}

#header #navigation {
  clear:both;
  list-style:none;
  margin:0;
  padding:0;
  width:76%;
}

#header #navigation li {
  float:left;
  margin:0 0 0 0.4em;
}

#header #navigation li.settings {
  float:right;
}

#header #navigation li a {
  background:#4777AD;
  color:#FFF;
  display:block;
  font-size:1.4em;
  font-weight:bold;
  padding:0.5em 1em;
  text-decoration:none;
  text-shadow:1px 1px 1px #444;
}

#header #navigation li a.active {
  background:#EEE url("/images/active_tab_bg.gif") 0 0 repeat-x;
  color:#333;
  font-weight:bold;
  text-shadow:none;
}

#header #user {
  color:#FFF;
  font-size:1.3em;
  float:right;
  margin:1em 0 0;
}

#header #user li {
  float:left;
  margin:0 0 0 0.4em;
}

#header #user li.user {
  font-weight:bold;
  padding:0.2em 0.5em;
  text-shadow:1px 1px 1px #333;
}

#header #user li a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background:#223758;
  color:#FFF;
  display:inline-block;
  padding:0.2em 0.5em;
  text-decoration:none;
}

#header #user li a:hover {
  background:#4B81D4;
}

#content {
  margin:0 1em;
  min-width:80em;
  overflow:hidden;
  padding:2em;
}

#content #main_content {
  background:#FFF;
  -webkit-box-shadow: 1px 1px 5px #555;
  -moz-box-shadow: 1px 1px 5px #555;
  font-size:1.2em;
  float:left;
  overflow:hidden;
  padding:1em;
  width:74%;
}

#content #main_content h2 {
  background:#3E659B;
  color:#FFF;
  margin:-1em -1em 1em;
  padding:1em 1em 0.6em;
  text-shadow:-1px -1px 1px #333;
}

#content #main_content h2 .toggle_view a {
  color:#FFF;
  font-size:75%;
  float:right;
  margin:0.2em 0 0 0.5em;
  text-shadow:none;
}

#content #main_content h2 .toggle_view a.active {
  color:#CCC;
  text-decoration:none;
}

#content #main_content table {
  width:100%;
}

#content #main_content table thead tr {
  background:#CCC;
  color:#222;
}

#content #main_content table thead tr th {
  font-weight:bold;
  padding:0.4em;
}

table .striped {
  background:#EEE;
}

/* Dashboard
------------------------------------------------*/

#main_content .dashboard h3 {
  background:#7DAAFF;
  color:#FFF;
  font-weight:bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin:1em 0;
  padding:0.4em 0.6em;
}

#main_content .dashboard h3.overdue {
  color:#FFF;
  background:#A92B2F;
}

#main_content table tbody tr td {
  border-bottom:1px solid #EEEEEE;
  padding:0.2em;
}

#main_content table .status,
#main_content table .invoice_number,
#main_content table .total {
  width:10%;
}

#main_content table .invoice_date {
  width:20%;
}

#main_content .status span {
  color:#FFF;
  display:block;
  padding:0.1em 0.5em;
  text-align:right;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}

#main_content .status .paid {
  background:#7A996B; 
}
#main_content .status .draft {
  background:#F4D561;
}
#main_content .status .sent {
  background:#994045;
}

/* Clients
------------------------------------------------*/
#edit_client fieldset {
  font-size:1.1em;
}

#edit_client fieldset input.text {
  font-size:1em;
}

#clients .client {
  border-bottom:1px solid #EEE;
  overflow:hidden;
  padding:1em 0;
}

#clients .person {
  float:left;
}

#clients .person label {
  float:left;
  margin:2em 0.5em;
}

#clients .person .avatar {
  float:left;
}

#clients .person .person_info {
  float:left;
  margin:0 0.5em;
}

#clients .client .invoice_info {
  clear:both;
}

#clients .client h3 {
  float:right;
  margin:2em 0.5em 0;
}

#clients .person_info .name {
  font-size:150%;
}

#clients .person_info .email,
#clients .person_info .pending {
  color:#999;
  font-size:90%;
  padding:0.2em 1.8em;
}

#clients .person_info .email {
  background:transparent url("/images/icons/email.png") 0 50% no-repeat;
}

#clients .person_info .pending {
  background:transparent url("/images/icons/page_green.png") 0 50% no-repeat;
}

.tools {
  background:#FFF3C0;
  border-top:1px solid #CC0000;
}

.tools li {
  display:inline-block;
  padding:0.5em 0.5em 0.5em 0;
}

.tools li a {
  color:#CC0000;
}

/* Invoices
------------------------------------------------*/

/* Buttons */
#invoice_submit,
#client_submit {
  background:transparent url("/images/save_button.png") 0 0 no-repeat;
  border:none;
  cursor:pointer;
  height:42px;
  text-indent:-9999px;
  width:150px;
}

#client_submit:hover,
#invoice_submit:hover { background-position:0 -42px; }

#client_submit:active,
#invoice_submit:active { background-position:0 -84px; }

#main_content fieldset label {
  display:block;
}

#main_content fieldset label.currency {
  float:left;
  margin:1.2em 0.4em 0;
}

#main_content fieldset legend {
  background:#3E69AB;
  border:1px solid #215895;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #333;
  -moz-box-shadow: 0 0 2px #333;
  color:#EED88F;
  font-size:1.4em;
  font-weight:bold;
  padding:0.1em 0.5em;
}

#main_content fieldset table .description {
  height:30px
}

#main_content fieldset table tbody .quantity,
#main_content fieldset table tbody .price {
  font-size:1.2em;
  padding:0.4em;
  width:50px;
}

#footer {
  padding:0 2.8em 1em;
}

#footer p {
  color:#666;
  font-size:1.1em;
  text-shadow:-1px -1px 1px #FFF;
}