@import url("reset.css");

body {
  background:#222;
  font:62.5%/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin:0;
}

#logo {
  background:transparent url("/images/logo.png") 0 0 no-repeat;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  display:block;
  height:80px;
  margin:10% auto 0;
  width:284px;
}

ul {
  margin:1em auto;
  width:200px;
}

ul li {
  float:left;
  margin:0 0.5em;
}

ul li a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background:#6E90C0;
  color:#FFF;
  display:inline-block;
  font-size:1.4em;
  padding:0.2em 0.5em;
  text-decoration:none;
}

ul li a:hover {
  background:#4B81D4;
}