/* Invoices
------------------------------------------------*/
#invoice_lines thead .unit_price,
#invoice_lines thead .quantity,
#invoice_lines .invoice_line .quantity,
#invoice_line .invoice_line .price {
	text-align:center;
}

.new #invoice_lines thead .unit_price,
.new #invoice_lines thead .quantity,
.new #invoice_lines .invoice_line .quantity,
.new #invoice_line .invoice_line .price {
	text-align:left;
}

.show_invoice h2 span {
  background:#994045;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  display:inline-block;
  float:right;
  font-size:70%;
  font-weight:bold;
  margin:0.1em 0 0 1em;
  padding:0.2em 1em;
  text-shadow:none;
}

#main_content fieldset legend {
  background:#3E69AB;
  border:1px solid #215895;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #333;
  -moz-box-shadow: 0 0 2px #333;
  color:#EED88F;
  font-size:1.4em;
  font-weight:bold;
  padding:0.1em 0.5em;
}

#main_content fieldset table .description {
  height:30px
}

#main_content fieldset table tbody .quantity,
#main_content fieldset table tbody .price {
  font-size:1.2em;
	padding:0.2em;
	text-align:left;
  width:75px;
}

#main_content fieldset table tbody .quantity:focus,
#main_content fieldset table tbody .price:focus {
  background:#FFF3C0;
  border:1px solid #FFDB81;
}

.show_invoice fieldset {
	border:none;
	padding:0 0 0 1em;
}

.show_invoice #client_info {
	font-size:1.2em;
}

/*invoice show*/

.show_invoice {
	position:relative;
}

.show_invoice img.overdue_image {
	position:absolute;
	right:4em;
	top:5em;
}

#client_info .avatar {
	background:transparent url("/images/gravatar_default.png") 0 0 no-repeat;
  border:2px solid #FFF;
  -webkit-box-shadow: 0 0 5px #333;
  -moz-box-shadow: 0 0 5px #333;
  color:#333;
  float:left;
  height:92px;
  margin:0 0.5em;
	overflow:hidden;
  position:relative;
  text-decoration:none;
	width:75px;
}

#client_info .avatar label {
  background:#FFF;
  bottom:-2px;
  font-family: "JD", sans-serif;
  height:18px;
  left:0;
  overflow:hidden;
  padding:0.1em 0 0;
  position:absolute;
  text-align:center;
  width:75px;
}

#client_info .person_info {
  float:left;
  margin:0 0.5em;
}

#client_info .invoice_info {
  clear:both;
}

#client_info .name,
#client_info .email,
#client_info .phone,
#client_info .billing_date {
  color:#999;
  font-size:90%;
  padding:0.2em 1.8em;
}

#client_info .name{background:transparent url("/images/icons/user.png") 0 50% no-repeat;}
#client_info .email{background:transparent url("/images/icons/email.png") 0 50% no-repeat;}
#client_info .phone{background:transparent url("/images/icons/telephone.png") 0 50% no-repeat;}
#client_info .billing_date{background:transparent url("/images/icons/date.png") 0 50% no-repeat;}
