body {
	background:#111;
	font:62.5%/1.5 "Helvetica Neue", Arial, sans-serif;
}

#content {
  background:#111 url("/images/login_bg.png") 0 0 no-repeat;
	height:600px;
  margin:2em auto;
  overflow:hidden;
  width:600px;
}

#content p {
	color:#FFF;
	font-size:1.8em;
	font-weight:100;
	letter-spacing:1px;
	margin:14em 0 0;
	text-align:center;
	text-shadow:0 1px 5px #000;
	text-transform:uppercase;
}