#totals {
  background:transparent url("/images/sticky.png") 0 0 no-repeat;
  float:right;
  height:200px;
  margin:1em auto;
  padding:2em;
  width:250px;
}

#totals.payments ul li,
#totals.payments #total {
	font-family:"JD", sans-serif;
}

#totals h4 {
  color:#222;
  font-family:"JD", sans-serif;
  font-size:1.6em;
  font-weight:normal;
  margin:0 0 1em;
}

#totals span {
  font-weight:bold;
}

#sidebar {
  float:right;
  width:20%;
}

#actions {
  background:#CCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin:0 0 0 0.5em;
  padding:0.5em 1em;
}

#actions h2 {
  background:#444;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color:#FFF;
  font-weight:bold;
  padding:0.2em 0.5em;
}

#actions h3.income {
  font-size:1.4em;
  padding:0.2em 0.4em;
}

/* Sidebar Buttons
----------------------------------------------*/

#actions .button {
  background-color:#FFF;
  background-position:0.6em 50%;
  background-repeat:no-repeat;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border:1px solid #999;
  color:#5EA256;
  display:block;
  font-size:1.4em;
  font-weight:bold;
  margin:0.5em 0;
  padding:0.5em 2.4em;
  text-decoration:none;
}

#actions .button:hover {
  color:#333;
  background-color:#D0DECE;
}

#actions #cancel{background:#FFF url("/images/icons/cancel.png") 0.4em 50% no-repeat;color:#9B222A;}
#actions #cancel:hover{background-color:#FFD9D9;}
#actions #new,
#actions #new_invoice{background-image:url("/images/icons/add.png");}
#actions #edit{background-image:url("/images/icons/application_form_edit.png");}
#actions #payment{background-image:url("/images/icons/money_add.png");}
#actions #back{background-image:url("/images/icons/arrow_left.png");}
#actions #view{background-image:url("/images/icons/user.png");}
#actions #pdf{background-image:url("/images/icons/printer.png");}
#actions #send{background-image:url("/images/icons/printer.png");}