%h1 Listing users

#users
  - for user in @users
    .users.section
    .row=h user.email
    .row
      = link_to 'Show', user
      |
      = link_to 'Edit', edit_user_path(user)
      |
      = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%p= link_to 'New user', new_user_path
