#main_content
  %h2=h @user.name
  %ul
    %li
      %label Email:
      =h @user.email
    %li
      %label Login count:
      =h @user.login_count
    %li
      %label Last request at:
      =h @user.last_request_at
    %li
      %label Last login at:
      =h @user.last_login_at
    %li
      %label Current login at:
      =h @user.current_login_at
    %li
      %label Last login ip:
      =h @user.last_login_ip
    %li
      %label Current login ip:
      =h @user.current_login_ip

  / %p= link_to 'Edit', edit_account_path

#sidebar
