- div_for(client) do
  .person
    %a.avatar{:href => "#"}
      %img{:src => "/images/client.png", :width => "75px", :height => "75px"}
    %ul.person_info
      %li.name= link_to h(client.name), client
      %li.email=h client.email
      %li.pending
        Number of pending invoices: 
        = client.number_of_pending_invoices
  %h3
    %span
      Amount Due
      %strong 
        $467.00
    =# client.total_amount_due