- div_for(client) do
  .person
    %label
      %input{:type => "checkbox"}
    %a.avatar{:href => "#"}
      %img{:src => "/images/logo.png", :width => "50px", :height => "50px"}
    %ul.person_info
      %li.name= link_to h(client.name), client
      %li.email=h client.email
  / %ul.invoice_info
  /   %li.pending
  /     Number of pending invoices: 
  /     = client.number_of_pending_invoices
  %h3
    %strong $467.00
    =# client.total_amount_due