#main_content
  %h2 
    Listing Clients
    %span.toggle_view
      %a{:href => "#"} List View
      %a.active{:href => "#"} Expanded View
  #clients
    = render @clients
  
  = will_paginate
  
#sidebar
  = link_to 'Add A New Client', new_client_path, :id => 'new', :class => "button"
