%p Launching December 2009

%form{ :action => 'http://madmimi.com/signups/subscribe/4246', :method => 'post' }
  %div
    %label{ :for => 'signup_email' } Email
    %label{ :id => 'signup_email', :name => 'signup[email]', :type => 'text' }
    %input{ :name => 'commit', :type => 'submit', :value => 'Sign Up' }