#pricing
  %ul
    %li Custom Domain
    %li SSL Secure
    %li Unlimited Invoices
    %li Unlimited Clients
    %li Easy Setup
    %li Made With Love
    %li
      %a{:href => "#"} Signup Now!
#screenshot
  %img{:src => "/images/marketing/screenshot.png", :alt => "screenshot"}