#signup
  %form{ :action => 'http://madmimi.com/signups/subscribe/4246', :method => 'post' }
    %ul
      %li
        %input{ :id => 'signup_email', :name => 'signup[email]', :type => 'text', :class => "text swap_value", :value => "Your Email Address" }
      %li
        %input{ :name => 'commit', :type => 'submit', :value => 'Sign Up', :id => "submit" }
      
  %p Launching <strong>December 2009</strong>, Get notified when Breadbox is live!