#signup
  %form{ :action => 'http://campaign-monitor.reactioncontrol.com/t/r/s/itktit/', :method => 'post' }
    %ul
      %li
        %input{ :id => 'signup_email', :name => 'cm-itktit-itktit', :type => 'text', :class => "text swap_value", :value => "Your Email Address" }
      %li
        %input{ :name => 'commit', :type => 'submit', :value => 'Sign Up', :id => "submit" }

      
  %p Launching <strong>January 2010</strong>, Get notified when Breadbox is live!