!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title= yield(:title) || "Breadbox: Simple Invoicing for Freelancers"
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => 'lang', :content => 'en' }
    %meta{ :name => "description", :content => "Breadbox is a simple invoicing system for designed for freelance developers" }
    %meta{ :name => "keywords", :content => "breadbox, invoice, freelance, developers, simple, easy, rails, ruby, reaction, control, matt, polito, stephen, korecky" }
    %meta{ :name => "author", :content => "reactionCONTROL" }
    %meta{ :name => "copyright", :content => "copyright (c) 2009 reactionCONTROL" }
    %meta{ :name => "revisit-after", :content => "3 days" }
    %link{ :href => "images/favicon.ico", :rel => "shortcut icon" }
  %body
    #wrapper
      #header
      #content
        = yield
      #footer